
<h4>Lista de empleados</h4>
<div class="row" *ngFor='let empleado of empleados; let  even = even; let odd = odd'>
    <div class="row" style="width:100%" [ngClass]='{odd: odd, even: even}'>
        <div class="col-8">
            <p>{{empleado.nombre}} {{empleado.apellidos}}</p>
        </div>
        <div class="col-2" [ngSwitch]="empleado.departamento">
            <img width="25px" height="25px" [id]='0' *ngSwitchCase="departamentos.FINANZAS" src="/assets/img/finance.png" />
            <img width="25px" height="25px" [id]='1' *ngSwitchCase="departamentos.IT" src="/assets/img/it.png" />
            <img width="25px" height="25px" [id]='2' *ngSwitchCase="departamentos.RECURSOS_HUMANOS" src="/assets/img/hr.jpg" />
        </div>
        <div class="col-2" [ngSwitch]="empleado.departamento">
            <button type="button" class="btn btn-danger" (click)="borrarEmpleado($event, empleado)">Borrar empleado</button>
        </div>
    </div>
</div>

    <div class="row" >
    <div *ngIf="mostrar" class="col-12">
    <br/>
        <h4>Nuevo empleado</h4>
        <input type="text" [(ngModel)]="nombre" placeholder="Nombre empleado" />
        <input type="text" [(ngModel)]="apellidos" placeholder="Apellido empleado" />
        <select [(ngModel)] = "departamento">
            <option *ngFor="let val of objectKeys(departamentos)" [value]="departamentos[val]">{{departamentos[val]}}</option> 
        </select>
        <button [disabled]='disabled()' type="button" class="btn btn-light" (click)="crearEmpleado()">Crear Empleado</button>
    </div>
    <br/>
    <br/>
    <button type="button" class="btn btn-primary" (click)="toggleFormulario()">{{mostrar ? "Ocultar Formulario de creación de empleados" : "Mostrar Formulario de creación de empleados"}}</button>
</div>
